@import "tailwindcss";
body {
    margin: 0;
    padding: 0;
}
.main{
    background-image: url(https://res.cloudinary.com/dd2u8l2l6/image/upload/v1757734174/WhatsApp_Image_2025-09-13_at_08.58.54_7c10e31d_qxvoal.jpg);
}